{% extends 'website/layout/base.html' %}

{% block content %}
    
    <div class="projects">
        
        <ul class="projects-list">
            <li style="margin-bottom: 2em;">
                <a href="/learn/">
                    <img src="{{ STATIC_URL }}eri5/projects/images/svm.jpg" class="icon"/>
                    <h4>SVM</h4>
                </a>
                <p>
                    Fun with Support Vector Machines! Not sure how I'll use this in the future...
                </p>
            </li>
            <li>
                <a href="/proposition/guide">
                    <img src="{{ STATIC_URL }}eri5/projects/images/document_changes1.svg" class="icon"/>
                    <h4>Long form blog</h4>
                </a>
                <p>
                    A blog implementation using a Django-backed RESTful API and AngularJS.
                </p>
            </li>
            <li>
                <a href="/proposition/guide">
                    <img src="{{ STATIC_URL }}eri5/projects/images/logicalGraph2.jpg" class="icon"/>
                    <h4>Proposition</h4>
                </a>
                <p>
                    Using Javascript client side models to represent Django side models! 
                </p>
            </li>
            <li>
                <a href="http://www.ekjewelry.com/">
                    <img src="{{ STATIC_URL }}eri5/projects/images/ekj2.jpg" class="icon" />
                    <h4>ekjewelry.com</h4>
                </a>
                <p>
                    A Django website with responsive layout.
                </p>
            </li>
            <li>
                <a href="{{ STATIC_URL }}eri5/projects/files/WaterProject.zip">
                    <img src="{{ STATIC_URL }}eri5/projects/images/openglInteractive.jpg" class="icon"/>
                    <h4>Interactive Water in OpenGL (Download)</h4>
                </a>
                <p>A simplified water simulation in immediate-mode OpenGL that is interactive. Clicking on the water lets you create splashes.
                    Implemented in C++ using Visual Studio 2010, A compilation exists in the Debug folder</p>
            </li>
            <li>
                <a href="{{ STATIC_URL }}eri5/projects/files/DeadOnesGameAug_16_2012.zip">
                    <img src="{{ STATIC_URL }}eri5/projects/images/theDeadOnes.jpg" class="icon" />
                    <h4>Dead Ones Game (Download)</h4>
                </a>
                <p>
                    A school project with some friends! Barely works as a "game." 
                    Press (Ctrl?)1,2,3 to change levels. Clicking lets you shoot and WASD lets you move. If you die the game crashes :).
                    Painfully implemented in C++ / Lua.
                </p>
            </li>
            <li>
                <a href="CSE380PROJECT.zip">
                    <img src="{{ STATIC_URL }}eri5/projects/images/theDeadOnes.jpg" class="icon" />
                    <h4>Dead Ones Game Source Code (Download)</h4>
                </a>
                <p>
                    Source code for a school project. Learned some things about memory pools.
                    Implemented AI as inspired by the famous autonomous agent behavior paper. 
                </p>
            </li>
        </ul>
        
    </div>

{% endblock %}