{% extends 'website/layout/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <section>
                <h2>Hi, My name is Eric Mok</h2>

                <section>
                    <h4><a class="btn btn-success" href="{% url 'resume' %}">View My Resume</a></h4>
                </section>

                <section>
                    <h3>Things about me</h3>

                    <section>
                        <p class="bio-info">
                            I am 24 years old. 
                            I graduated from Stony Brook University with a major in computer science.
                            I am a newbie trying to make his way around the world. 
                        </p>
                    </section>


                    <section>
                        <h4>I like...</h4>
                        <ul>
                            <li>Javascript</li>
                            <li>Django</li>
                            <li>Reading papers on Neural Networks</li>
                        </ul>
                    </section>

                    <section>
                        <h4>I enjoy...</h4>
                        <ul>
                            <li>Starcraft 2</li>
                            <li>Philosophy</li>
                        </ul>
                    </section>

                    <section>
                        <h4>I am exploring...</h4>
                        <ul>
                            <li>RESTful API Design</li>
                            <li>Ruby on Rails</li>
                            <li>Node</li>
                            <li>Android Development</li>
                            <li>Self Organizing Finite State Machines</li>
                        </ul>
                    </section>

                    <section>
                        <h4>Areas I need to work on...</h4>
                        <ul>
                            <li>Meeting more people</li>
                            <li>UX Design</li>
                        </ul>
                    </section>
                </section>
            </section>
        </div>
    </div>
{% endblock %}