{% extends "common/base0.html" %}

{%block head%}
<!-- <script src="{{ MEDIA_URL }}test.js"></script> -->

<style>
	.proposition
	{
		border: solid 1px #DDD;
		padding: 0.8em;
		height: 1em;
	}
	.propText
	{
		/*width: 300px;*/
		text-align: left;
	}
	.propLinks
	{
		/*width: *px;*/
		text-align: right;
	}
</style>

<script src="{{ STATIC_URL }}proposition/js/prop.js"></script>

<script>
	tacowrap.proposition = {};
	var proposition = tacowrap.proposition;
	proposition.proposition = function() {

	}

	proposition.proposition.prototype = {
		constructor: proposition.proposition
	}

	proposition.propositionArray = [];

	{% for prop in propositions %}

		//proposition.propositionArray.push({ id: {{ prop.id }}, text: "{{ prop.text }}" });

	{% endfor %}

	$(document).ready(function() {

		var i;
		var $div;
		var $clear;
		var $text;
		var $link;
		var $clear;

		var obj;
		/*
		for (i = 0; i < proposition.propositionArray.length; i++) {

			obj = proposition.propositionArray[i];

			$div = $("<div class='proposition' for='" + obj.id + "'></div>");
			$div.attr('for', obj.id);

			$text = $("<div class='propText'>" + obj.creationDate + "<br/>" + obj.text + "</div>");
			$div.append($text);

			$link = $("<div class='propLinks' id='propLink" + obj.id + "''> Axiom | Hypothesis | Conjecture  </div>");
			$link.hide();

			$div.append($link);

			$clear = $("<div style='clear:both;'></div>");
			$div.append($clear);

			$("#propositionView").append($div);

			$clear = $("<div style='clear: both'></div>");
			$div.after($clear);
		}

		$(".proposition").on("mouseover", function(ev) {

			var id = $(this).attr("for");
			$("#propLink" + id).show();

		}).on("mouseout", function(ev) {

			var id = $(this).attr("for");
			$("#propLink" + id).hide();

		});
		*/
		window.propositionExplorer = new tacowrap.prop.PropositionExplorer("propositionExplorer");
		propositionExplorer.initialize();
		propositionExplorer.generateElement();
		
		//$("#propositionExplorer").append( propositionExplorer.domElement );

	});
</script>
{% endblock %}

{% block content %}

	<div class="propositionWrapper">
		<div style="text-align: center; margin-top: 10em;">
			<h2>Enter your proposition</h2>
			<form action="" method="POST">
				{% csrf_token %}
				<input type="text" name="prop" value="" id="prop" maxlength="256" size="256" autocomplete="off" />
				<input type="submit" value="Add" style="margin-top: 1em;" />
			</form>
			<section>	
				<div id="propositionView" style="display: none;">
				</div>
			</section>
			<div id="propositionExplorer">
				<div></div>
			</div>
		</div>
	</div>

{% endblock %}